node_modules
build
npm-debug.log
.idea
.DS_Store# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public/meta.json
/.VsCodeCounter

# ENV
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
.build/docker/.env.base
cspell-report.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/*config.js
.build/traefik/access.log

# Optional pnpm cache directory
.pnpm-debug.log*

# eslint
.eslintcache

# Ignores homeserver.db file
**/*.db
*.session.sql

# ignore local working files
/local
