dist: focal
language: node_js
node_js:
  - v20.15.1
cache:
  directories:
    - node_modules
before_install:
  - npm i -g npm@10.7.0
install:
  - npm install
script:
  - npm run-script lint:prod
  - npm run-script test:upload
  - CI=false npm run-script build
