dist: focal
language: node_js
node_js:
  - v22.21.1
cache:
  directories:
    - node_modules
    - .pnpm-store
before_install:
  - npm i -g npm@10.7.0
  - npm install -g pnpm@10.17.1
install:
  - pnpm install
script:
  - pnpm run lint:prod
  - pnpm run test:upload
  - CI=false pnpm run build
