language: node_js
node_js:
  - v16.15.0
cache:
  directories:
    - node_modules
before_install:
  - npm i -g npm@8.5.5
install:
  - npm install
script:
  - npm run-script lint:prod
  - CI=false npm run-script build
