// https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL - Open Font License

$spacer: 1rem !default;
$headings-margin-bottom: $spacer / 2 !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}
