body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome {
  margin: 10%;
}

.ecoverse-container {
  padding: 0;
  display: flex;
  width: 99vw;
  height: 94vh;
  overflow: hidden;
}

.logo {
  height: 30px;
}

@import '~bootstrap/scss/bootstrap.scss';